body
{
    background-image:url(images/fondo/black_screen.webp);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
}

#botonPantallaNegra
{
    position:absolute;
    border:none;
    width:90%;
    height:90%;
    cursor:pointer;
}

#pantallaTitulo
{
    display:none;
}

#juegoPesca
{
    display:none;
}
#tituloLogo
{
    position:absolute;
    background-image:url(images/pantalla_incio/logo_pesca_tocha.png);
    width:60%;
    height:72%;
    left:20%;
    background-repeat:no-repeat;
    background-size:100%;
}
#pressStart
{
    position:absolute;
    background-image:url(images/pantalla_incio/press_start.png);
    width:40%;
    height:9.5%;
    background-size:100%;
    left:30%;
    top:80%;
    background-repeat:no-repeat;
    cursor:pointer;
}
#copyright
{
    position:absolute;
    background-image:url(images/pantalla_incio/copyright.png);
    width:20%;
    height:6%;
    background-size:100%;
    bottom:0px;
    left:40%;
    background-repeat:no-repeat;
}

#cania
{
    position:absolute;
    bottom:0px;
    left:60%;
    pointer-events: none;
    z-index: 3;
}
#cuerda
{
    position:absolute;
    background-image:url(images/cania/cuerda.png);
    height:7px;
    width:50px;
    bottom:515px;
    transform-origin: bottom left;
    rotate:-90deg;
    pointer-events: none;
    z-index: 3;
}
#puntera
{
    position:relative;
    background-image:url(images/cania/puntera.png);
    height:180px;
    width:94px;
    left:206px;
    bottom:-6px;
    z-index: 3;
}
#anzuelo
{
    position:absolute;
    background-image:url(images/cania/anzuelo.png);
    height:19px;
    width:19px;
    bottom:500px;
    pointer-events: none;
}
#mango
{
    position:relative;
    background-image:url(images/cania/mango.png);
    height:391px;
    width:218px;
}

#areaPesca
{
    position:absolute;
    bottom:0px;
    left:21.5%;
    background-color:#36C5F4;
    height:40%;
    width:60%;
    cursor:pointer;
    border:none;
}

#pantallaPesca
{
    display:none;
}
#fondoMadera
{
    position:absolute;
    background-image:url(images/elements/wood_plank.png);
    height:621px;
    width:1178px;
    background-size:100%;
    cursor:pointer;
    z-index: 3;
}
#modeloPez
{
    z-index: 3;
}
.maderaTrasparente
{
    pointer-events: none;
}
.maderaTexto
{
    position:absolute;
    color:white;
    background-color: transparent;
    font-family: "Darumadrop One", "Consolas";
    border:none;
}
#pesoPez
{
    left:200px;
    height:40px;
    width:400px;
    font-size:40px;
    bottom:50px;
}
#tamanioPez
{
    left:500px;
    height:40px;
    width:300px;
    font-size:40px;
    bottom:50px;
}
#dineroPez
{
    left:770px;
    height:80px;
    width:300px;
    font-size:80px;
    bottom:40px;
}

#fondoDineroTotal
{
    background-image: url(images/elements/small_wood_plank.png);
    height:135px;
    width:290px;
    background-size:100%;
    background-repeat: no-repeat;
}
#monedaOro
{
    position:absolute;  
    background-image:url(images/elements/gold_coin.png);
    height:80px;
    width:80px;
    background-size: 100%;
    background-repeat: no-repeat;
    left:20px;
    top:40px;
}
#dineroTotal
{
    position:absolute;
    color:gold;
    background-color: transparent;
    font-family: "Darumadrop One", "Consolas";
    border:none;
    height:80px;
    width:170px;
    font-size:80px;
    text-align: center;
    left:110px;
    top:25px;
}